/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #FFF;
  display: flex;
  align-items: center;
  padding: 8px 32px 8px 16px;
  z-index: 1000;
}

.header__block--right {
  display: flex;
  align-items: center;
}

/* Hamburguer */

.hamburguer {
  margin-right: 16px;
}

.hamburguer__action {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 6px 4px;
}

.hamburguer__item {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 4px 0;
}

.hamburguer__item:before,
.hamburguer__item:after {
  content: "";
  position: absolute;
  left: 4px;
  display: block;
  width: calc(100% - 8px);
  height: 1px;
  background-color: #000000;
}

.hamburguer__item:before {
  top: 6px;
}

.hamburguer__item:after {
  bottom: 6px;
}

/* Logo */

.logo__link {
  display: block;
  line-height: 0;
}

/* Search */

.search {
  max-width: 574px;
  width: 100%;
  margin: 0 auto;
}

.search__form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__input {
  width: calc(100% - 94px);
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-right: 0;
  border-radius: 1px 0px 0px 1px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #888888;

}

.search__button--search {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 54px;
  width: 100%;
  height: 32px;
  background: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 0px 1px 1px 0px;
  margin-right: 8px;
}

.search__button--voice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #F9F9F9;
  border-radius: 20px;
}

/* Menu User Actions */

.menu-user-actions {
  margin-right: 24px;
}

.menu-user-actions__list {
  display: flex;
  align-items: center;
}

.menu-user-actions__item:not(:last-child) {
  margin-right: 20px;
}

.menu-user-link,
.menu-user-profile {
  display: block;
  line-height: 0;
}

/* Main */

.main {
  display: flex;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 48px;
  left: 0;
  max-width: 196px;
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  padding-top: 12px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 20px;
}

/* Menu Group */

.menu-group__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #636363;
  padding-left: 12px;
  margin: 0 0 8px;
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.menu-group__link {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.menu-group__link--active {
  background: #D9D9D9;
}

.menu-group__icon {
  margin-right: 16px;
}

.menu-group__text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.menu-group__link--active .menu-group__text {
  font-weight: 500;
}

.menu-group__alert {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #065FD4;
  border-radius: 100px;
  margin-left: auto;
}

/* -------- Content -------- */

.main-content {
  width: calc(100% - 196px);
}


/* Categories */

.categories {
  position: sticky;
  top: 48px;
  left: 0;
  padding: 12px 20px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  z-index: 100;
  background: #FFF;
}

.categories__list {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.categories__button {
  padding: 6px 12px;
  background: #F2F2F2;
  border: 0.5px solid #D9D9D9;
  border-radius: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in-out;
}

.categories__button--active,
.categories__button:hover {
  background-color: #000;
  color: #FFF;
  border-color: #000;
}

/* Banner */

.banner {
  position: relative;
  margin-bottom: 48px;
}

.banner__image {
  width: 100%;
}

.banner__info {
  position: absolute;
  top: calc(50% - 12px);
  transform: translateY(-50%);
  left: 20px;
}

.banner__logo {
  margin-bottom: 16px;
}

.banner__title {
  max-width: 330px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 16px;
}

.banner__link {
  display: inline-block;
  border: 1.5px solid #065FD4;
  border-radius: 2px;
  padding: 10px 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #065FD4;
}

.banner__close {
  position: absolute;
  top: calc(50% - 74px);
  right: 45px;
  transform: translateY(-50%);
  line-height: 0;
}

/* Gallery */

.gallery {
  padding: 0 28px 48px 20px;
}

.gallery__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 36px 12px;
}

.gallery__item {
  width: calc(25% - ((3 * 12px) / 4));
}

.gallery-video__thumb {
  position: relative;
  line-height: 0;
  margin-bottom: 10px;
}

.gallery-video__image {
  width: 100%;
}

.gallery-video__time {
  position: absolute;
  right: 4px;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.99);
  border-radius: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 4px;
}

.gallery-video__info {
  display: flex;
  align-items: flex-start;
}

.gallery-video__block--left {
  margin-right: 12px;
  line-height: 0;
}

.gallery-video__name {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 6px;
}

.gallery-video__name-user {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #727272;
  margin-bottom: 4px;
}

.gallery-video__icon--check {
  margin-left: 6px;
}

.gallery-video__text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #727272;
}