/* Header */

.header {
  display: flex;
  align-items: center;
  padding: 8px 32px 8px 16px;
}

.header__block--right {
  display: flex;
  align-items: center;
}

/* Hamburguer */

.hamburguer {
  margin-right: 16px;
}

.hamburguer__action {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 6px 4px;
}

.hamburguer__item {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 4px 0;
}

.hamburguer__item:before,
.hamburguer__item:after {
  content: "";
  position: absolute;
  left: 4px;
  display: block;
  width: calc(100% - 8px);
  height: 1px;
  background-color: #000000;
}

.hamburguer__item:before {
  top: 6px;
}

.hamburguer__item:after {
  bottom: 6px;
}

/* Logo */

.logo__link {
  display: block;
  line-height: 0;
}

/* Search */

.search {
  max-width: 574px;
  width: 100%;
  margin: 0 auto;
}

.search__form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__input {
  width: calc(100% - 94px);
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-right: 0;
  border-radius: 1px 0px 0px 1px;
  padding-left: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #888888;

}

.search__button--search {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 54px;
  width: 100%;
  height: 32px;
  background: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 0px 1px 1px 0px;
  margin-right: 8px;
}

.search__button--voice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #F9F9F9;
  border-radius: 20px;
}

/* Menu User Actions */

.menu-user-actions {
  margin-right: 24px;
}

.menu-user-actions__list {
  display: flex;
  align-items: center;
}

.menu-user-actions__item:not(:last-child) {
  margin-right: 20px;
}

.menu-user-link,
.menu-user-profile {
  display: block;
  line-height: 0;
}

/* Sidebar */

.sidebar {
  max-width: 196px;
  width: 100%;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  padding-top: 12px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 20px;
}

/* Menu Group */

.menu-group__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #636363;
  padding-left: 12px;
  margin: 0 0 8px;
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.menu-group__link {
  display: flex;
  align-items: center;
  padding: 6px 12px;
}

.menu-group__link--active {
  background: #D9D9D9;
}

.menu-group__icon {
  margin-right: 16px;
}

.menu-group__text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.menu-group__link--active .menu-group__text {
  font-weight: 500;
}

.menu-group__alert {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #065FD4;
  border-radius: 100px;
  margin-left: auto;
}